.product_list.list .ajax_block_product .pro_first_box{max-width: 280px;}.product_list.list .ajax_block_product .pro_second_box{margin-left: 300px;}.is_rtl .product_list.list .ajax_block_product .pro_second_box{margin-left:0;margin-right: 300px;}.products_sldier_swiper .ajax_block_product .pro_outer_box.cart_default, .product_list.grid .ajax_block_product .pro_outer_box.cart_default{max-width: 70px;}.products_sldier_swiper .ajax_block_product .pro_outer_box.cart_default_2x, .product_list.grid .ajax_block_product .pro_outer_box.cart_default_2x{max-width: 140px;}.products_sldier_swiper .ajax_block_product .pro_outer_box.home_default, .product_list.grid .ajax_block_product .pro_outer_box.home_default{max-width: 280px;}.products_sldier_swiper .ajax_block_product .pro_outer_box.home_default_2x, .product_list.grid .ajax_block_product .pro_outer_box.home_default_2x{max-width: 560px;}.products_sldier_swiper .ajax_block_product .pro_outer_box.large_default, .product_list.grid .ajax_block_product .pro_outer_box.large_default{max-width: 700px;}.images-container, .images-container .pro_gallery_thumbs_horizontal{margin-left: auto;margin-right:auto;}.images-container.pro_number_1, .images-container.pro_number_1 .pro_gallery_thumbs_horizontal{max-width: 700px;}
                    .images-container.pro_number_2, .images-container.pro_number_2 .pro_gallery_thumbs_horizontal{max-width: 700px;}
                    .images-container.pro_number_3, .images-container.pro_number_3 .pro_gallery_thumbs_horizontal{max-width: 700px;}
                    .images-container.pro_number_4, .images-container.pro_number_4 .pro_gallery_thumbs_horizontal{max-width: 700px;}
                    .images-container.pro_number_5, .images-container.pro_number_5 .pro_gallery_thumbs_horizontal{max-width: 700px;}
                    .images-container.pro_number_6, .images-container.pro_number_6 .pro_gallery_thumbs_horizontal{max-width: 700px;}.products_sldier_swiper .ajax_block_product .pro_outer_box.large_default_2x, .product_list.grid .ajax_block_product .pro_outer_box.large_default_2x{max-width: 1200px;}.products_sldier_swiper .ajax_block_product .pro_outer_box.medium_default, .product_list.grid .ajax_block_product .pro_outer_box.medium_default{max-width: 370px;}.products_sldier_swiper .ajax_block_product .pro_outer_box.medium_default_2x, .product_list.grid .ajax_block_product .pro_outer_box.medium_default_2x{max-width: 740px;}.products_sldier_swiper .ajax_block_product .pro_outer_box.small_default, .product_list.grid .ajax_block_product .pro_outer_box.small_default{max-width: 105px;}.products_sldier_swiper .ajax_block_product .pro_outer_box.small_default_2x, .product_list.grid .ajax_block_product .pro_outer_box.small_default_2x{max-width: 210px;}.products_sldier_swiper .ajax_block_product .pro_outer_box.superlarge_default, .product_list.grid .ajax_block_product .pro_outer_box.superlarge_default{max-width: 1200px;}.products_sldier_swiper .ajax_block_product .pro_outer_box.superlarge_default_2x, .product_list.grid .ajax_block_product .pro_outer_box.superlarge_default_2x{max-width: 1200px;}.st_image_scrolling_item{margin-bottom:20px;}.st_image_scrolling_wrap .st_image_scrolling_item {padding-left:10px;padding-right:10px;}.st_image_scrolling_wrap .row{margin-left:-10px;margin-right:-10px;}.featured_categories_item .pro_outer_box.category_default{max-width: 140px;}.featured_categories_item .pro_outer_box.category_default_2x{max-width: 280px;}.featured_categories_item .pro_outer_box.home_default{max-width: 280px;}.featured_categories_item .pro_outer_box.home_default_2x{max-width: 560px;}.featured_categories_item .pro_outer_box.medium_default{max-width: 370px;}.featured_categories_item .pro_outer_box.medium_default_2x{max-width: 740px;}body{font-family:Nunito, Tahoma, sans-serif, Arial;font-weight:400;}body{font-size: 14px;}.price,#our_price_display,.old_price,.sale_percentage{}.btn.ajax_add_to_cart_button, .btn.add-to-cart, .btn.view_button{}.style_wide .ma_level_1{font-family: "Fjalla One";font-weight:400;}.title_block .title_block_inner, .page_heading, .product_info_tabs .nav-tabs .nav-link, .pc_slider_block_container .nav-tabs .nav-link, .heading_font{font-weight:400;text-transform: uppercase;font-family: "Fjalla One";}.st-menu-title{font-weight:400;text-transform: uppercase;font-family: "Fjalla One";}.title_block .title_block_inner, .page_heading {}.st_mega_menu .ma_level_0, .mobile_bar_tri_text, #st_mega_menu_column_mobile .mo_advanced_ma_level_0{text-transform: uppercase;font-family: "Fjalla One";font-weight:400;font-size: 16px;}#st_mobile_menu .mo_ma_level_0{text-transform: uppercase;font-family: "Fjalla One";}.style_wide .ma_level_1{text-transform: uppercase;}.style_wide .ma_level_1{}.style_wide .ma_level_1{font-size: 14px;}.style_wide .mu_level_2 a.ma_item, .stmenu_multi_level a.ma_item,.mo_sub_a{}.mv_item{}#st_mega_menu_column_desktop .ma_level_0{}.product_name_wrap .product_name{}.product_name_wrap .product_name{font-weight:400;}.product_name_wrap .product_name{font-size: 14px;}.product_name_wrap .product_name{text-transform: uppercase;}#footer .title_block .title_block_inner{font-size: 14px;}.title_block .title_block_inner,.page_heading, .table-bordered thead th, .heading_color, .card-header{color: #666666;}.title_style_0,.title_style_0 .title_block_inner{border-bottom-width:0px;}.title_style_0 .title_block_inner{margin-bottom:-0px;}.title_style_0 .flex_child,.title_style_2 .flex_child,.title_style_3 .flex_child{background-image: url(../../patterns/heading_bg/7.png);}#footer-secondary .title_block .title_block_inner{color: #df2b37;}body,a.text_color{color: #818181;}a,.link_color, a:focus,
        .additional-information a.link_color
        .dropdown_tri,
        .checkout-step .sttab_2_1 .nav-tabs .nav-link,
        .add_to_love, .add_to_love:hover,
        .add_to_wishlit, .add_to_wishlit:hover
        .stcompare_add, .stcompare_add:hover{color: #df2b37;}.ajax_block_product .s_title_block a{color: #df2b37;}a:hover, 
            a.link_color:hover, 
            button.link_color:hover,
            .additional-information a.link_color:hover,
            .theme_color, a.theme_color, a.theme_color:hover,
            .st_added,
            .add_to_love.st_added, .add_to_love.st_added:hover,
            .add_to_wishlit.st_added, .add_to_wishlit.st_added:hover,
            .stcompare_add.st_added, .stcompare_add.st_added:hover,
            .dropdown_wrap.open .dropdown_tri,
            .ajax_block_product .s_title_block a:hover,
            .block_blog .s_title_block a:hover,
            .btn-link:hover{color: #ee4747;}a.text_color:hover{color: #ee4747;}.title_block a.title_block_inner:hover{color: #ee4747;}#st_mega_menu_wrap .ml_level_0.current .ma_level_0,#st_mega_menu_wrap .ma_level_0:hover{border-bottom-color:#ee4747;}.checkout-step .sttab_2_1 .nav-tabs .nav-link.active, .checkout-step .sttab_2_1 .nav-tabs .nav-link:hover, .checkout-step .sttab_2_1 .nav-tabs .nav-link:focus{color:#ee4747;}.price{color: #df2b37;}.regular-price{color: #818181;}a.icon_wrap, .icon_wrap,#shopping_cart .ajax_cart_right{color: #df2b37;}a.icon_wrap.active,.icon_wrap.active,a.icon_wrap:hover,.icon_wrap:hover,#searchbox_inner.active #submit_searchbox.icon_wrap,.logo_center #searchbox_inner:hover #submit_searchbox.icon_wrap,#shopping_cart:hover .icon_wrap,#shopping_cart.active .icon_wrap,.myaccount-link-list a:hover .icon_wrap{color: #ee4747;}.amount_circle{color: #ffffff;}.amount_circle{background-color: #df2b37;}.st_shopping_cart.header_item .amount_circle{color: #ffffff;}.st_shopping_cart.header_item .amount_circle{background-color: #df2b37;}.st_shopping_cart.header_item .amount_circle{border-color: #df2b37;}.btn-default{color: #ffffff;border-color:#df2b37;background-color: #df2b37;}.btn-default:hover,.btn-default:focus{color: #ffffff;-webkit-box-shadow: none; box-shadow: none;border-color: #818181;background-color: #818181;border-color: #818181;}.btn-white:hover,.btn-white:focus{border-color:#ffffff;-webkit-box-shadow: none; box-shadow: none;background-color: #ffffff;color:#444444;}.btn,.hover_fly_btn{text-transform: capitalize;}.btn.ajax_add_to_cart_button, .btn.add-to-cart{background-color: #df2b37;border-color:#df2b37;}.hover_fly .hover_fly_btn{border-right-color: #ffffff;border-left-color: #ffffff;}#top_bar .top_bar_item .header_item{color:#ffffff;}#top_bar .top_bar_item .header_item:hover,#top_bar .dropdown_wrap.open .dropdown_tri{color:#818181;}#top_bar .top_bar_item .header_item:hover,#top_bar .dropdown_wrap.open .dropdown_tri{background-color:#f7f7f7;}#top_bar{background-color:#df2b37;}.nav_bar.vertical-s .top_bar_item:before,.nav_bar.horizontal-s .top_bar_item:before,.nav_bar.space-s .top_bar_item:before,.nav_bar.horizontal-s-fullheight .top_bar_item:before{background-color:#ffffff;}.nav_bar .header_item{height:30px;line-height:30px;}.nav_bar.horizontal-s-fullheight .top_bar_item:before{height:30px;}#st_mega_menu_wrap .stmenu_sub{border-top-width:0px;}#st_mega_menu_wrap .ma_level_0{margin-bottom:-0px;border-bottom-width:0px;}#top_extra .st_mega_menu_container{border-bottom-width:0px;}#header_primary #st_mega_menu_wrap{border-bottom-width:0px;}#st_mega_menu_wrap .stmenu_sub{border-top-color:#444444;}.st_mega_menu_container, .boxed_megamenu #st_mega_menu_wrap,#header_primary #st_mega_menu_wrap{border-bottom-color:#444444;}#st_mega_menu_wrap .ml_level_0.current .ma_level_0,#st_mega_menu_wrap .ma_level_0:hover{border-bottom-color:#E54D26;}#st_ma_0{ text-align: left; }#footer-secondary, #footer-secondary a, #footer-secondary .price, #footer-secondary .old_price {color:#ffffff;}#footer-secondary a{color:#ffffff;}#footer-secondary a:hover{color:#ffffff;}#footer-bottom,#footer-bottom a{color:#ffffff;}#footer-bottom a{color:#06a161;}#left_column.sidebar_opened,#right_column.sidebar_opened{background-color:#fff;}.header-container #st_header{background-color:#f7f7f7;}#st_header.stuck{background: #f7f7f7;background:rgba(247,247,247,0.95);}#st_header.stuck, #top_extra .st_mega_menu_container.stuck{-webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.1); -moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.1); box-shadow: 0px 1px 4px rgba(0,0,0,0.1); }#footer-secondary{background-color:#343434;}#st_header #header_primary_container{height: 100px;}.header-container.has_sticky{padding-bottom:36px;}.fto-glyph.icon_btn:before{ content: "\e73d"; }.fto-star.icon_btn:before{ content: "\e8e0"; }.fto-ajust.icon_btn:before{ content: "\e81e"; }.quick-view .fto-search-1.icon_btn:before{ content: "\e80b"; }.fto-eye-2.icon_btn:before{ content: "\e818"; }.fto-user.icon_btn:before{ content: "\e850"; }.fto-history.icon_btn:before{ content: "\e87a"; }body#index .header-container{ margin-bottom: 12px; }.products_sldier_swiper .pro_outer_box:hover .pro_second_box,.product_list.grid .pro_outer_box:hover .pro_second_box{ background-color: #FAFAFA; }.products_slider .swiper-button-tr .swiper-button{ color: #ffffff; }.products_slider .swiper-button-tr .swiper-button{ background-color: #999999; }.products_slider .swiper-button-tr .swiper-button:hover{ background-color: #555555; }.products_slider .swiper-button-tr .swiper-button.swiper-button-disabled, .products_slider .swiper-button-tr .swiper-button.swiper-button-disabled:hover{background-color:#cccccc;}.boxed_page_wrapper{-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.1); -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.1); box-shadow: 0px 0px 3px rgba(0,0,0,0.1); }#st_header .shop_logo{width: 500px;}.pro_gallery_thumbs_vertical .swiper-slide{height: 82px;}.ajax_block_product .s_title_block a,.pro_column_right .s_title_block a{text-transform: uppercase;}.ajax_block_product .s_title_block,.pro_column_right .s_title_block{font-size: 18px;}.ajax_block_product .s_title_block a,.pro_column_right .s_title_block a{font-family:"Abel";}.ajax_block_product .s_title_block a,.pro_column_right .s_title_block a{font-weight:700;}#js-product-list .products.product_list.grid .product_list_item{padding-left:8px;padding-right:7px;}#js-product-list .products.product_list.grid{margin-left:-8px;margin-right:-7px;}body#authentication .columns-container{padding-top: 38px;}body#authentication .columns-container{padding-bottom: 38px;}.checkout-step .sttab_2_1 .nav-tabs .nav-link.active, .checkout-step .sttab_2_1 .nav-tabs .nav-link:hover, .checkout-step .sttab_2_1 .nav-tabs .nav-link:focus{border-bottom-color: #ffffff;}.cms_content h1, .blog_content h1, .product-description h1{font-size:30px!important;}.cms_content h3, .blog_content h3, .product-description h3{font-size:20px!important;}@media (max-width: 1219px) {
                    .images-container.pro_number_lg_1, .images-container.pro_number_lg_1 .pro_gallery_thumbs_horizontal{max-width: 700px;}
                    .images-container.pro_number_lg_2, .images-container.pro_number_lg_2 .pro_gallery_thumbs_horizontal{max-width: 700px;}
                    .images-container.pro_number_lg_3, .images-container.pro_number_lg_3 .pro_gallery_thumbs_horizontal{max-width: 700px;}
                    .images-container.pro_number_lg_4, .images-container.pro_number_lg_4 .pro_gallery_thumbs_horizontal{max-width: 700px;}
                    .images-container.pro_number_lg_5, .images-container.pro_number_lg_5 .pro_gallery_thumbs_horizontal{max-width: 700px;}
                    .images-container.pro_number_lg_6, .images-container.pro_number_lg_6 .pro_gallery_thumbs_horizontal{max-width: 700px;}
                }@media (max-width: 991px) {
                    .images-container.pro_number_md_1, .images-container.pro_number_md_1 .pro_gallery_thumbs_horizontal{max-width: 700px;}
                    .images-container.pro_number_md_2, .images-container.pro_number_md_2 .pro_gallery_thumbs_horizontal{max-width: 1160px;}
                    .images-container.pro_number_md_3, .images-container.pro_number_md_3 .pro_gallery_thumbs_horizontal{max-width: 1160px;}
                    .images-container.pro_number_md_4, .images-container.pro_number_md_4 .pro_gallery_thumbs_horizontal{max-width: 1160px;}
                    .images-container.pro_number_md_5, .images-container.pro_number_md_5 .pro_gallery_thumbs_horizontal{max-width: 1160px;}
                    .images-container.pro_number_md_6, .images-container.pro_number_md_6 .pro_gallery_thumbs_horizontal{max-width: 1160px;}
                }@media (max-width: 767px) {
                    .images-container.pro_number_sm_1, .images-container.pro_number_sm_1 .pro_gallery_thumbs_horizontal{max-width: 700px;}
                    .images-container.pro_number_sm_2, .images-container.pro_number_sm_2 .pro_gallery_thumbs_horizontal{max-width: 1160px;}
                    .images-container.pro_number_sm_3, .images-container.pro_number_sm_3 .pro_gallery_thumbs_horizontal{max-width: 1160px;}
                    .images-container.pro_number_sm_4, .images-container.pro_number_sm_4 .pro_gallery_thumbs_horizontal{max-width: 1160px;}
                    .images-container.pro_number_sm_5, .images-container.pro_number_sm_5 .pro_gallery_thumbs_horizontal{max-width: 1160px;}
                    .images-container.pro_number_sm_6, .images-container.pro_number_sm_6 .pro_gallery_thumbs_horizontal{max-width: 1160px;}
                }@media (max-width: 479px) {
                    .images-container.pro_number_xs_1, .images-container.pro_number_xs_1 .pro_gallery_thumbs_horizontal{max-width: 700px;}
                    .images-container.pro_number_xs_2, .images-container.pro_number_xs_2 .pro_gallery_thumbs_horizontal{max-width: 700px;}
                    .images-container.pro_number_xs_3, .images-container.pro_number_xs_3 .pro_gallery_thumbs_horizontal{max-width: 700px;}
                    .images-container.pro_number_xs_4, .images-container.pro_number_xs_4 .pro_gallery_thumbs_horizontal{max-width: 700px;}
                    .images-container.pro_number_xs_5, .images-container.pro_number_xs_5 .pro_gallery_thumbs_horizontal{max-width: 700px;}
                    .images-container.pro_number_xs_6, .images-container.pro_number_xs_6 .pro_gallery_thumbs_horizontal{max-width: 700px;}
                }a.shop_logo .logo{width:250px;}
#sequra-banner-invoice #block1, #sequra-banner-partpayment #block1 {
    background: #df2b37;
}
#sequra-banner-invoice .sqblock .sqnoc, #sequra-banner-invoice .sequra-educational-popup, #sequra-banner-partpayment .sqblock .sqnoc, #sequra-banner-partpayment .sequra-educational-popup {
    color: #df2b37;
}
#sequra-banner-invoice .sequra-educational-popup, #sequra-banner-partpayment .sequra-educational-popup {
    border-color: #df2b37;
}
.ajax_block_product .s_title_block a {
    color: #818181;
}
#top_bar .top_bar_item .header_item {
    font-size: 12px;
    font-weight: 700;
}
.pro_extra_info_label {
    display: none;
}
div.block-categories.block.column_block {display: none;}

.block_blog .s_title_block {
    font-size: 12px;
}
.s_title_block {
    font-size: 0.65rem;
}
.h4, h4 {
    font-size: 1rem;
}
#st_notification_1 {
    padding-left: 30px !important;
    padding-right: 200px !important;
}
.s_title_block {
   
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 800;
    height: auto;
    line-height: 1.5em;
    }
.ajax_block_product .s_title_block, .pro_column_right .s_title_block {
    font-size: 16px;
}
.fcc-btn {
  background-color: #e76f19;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
}
.pro_cart_block.flex_container.flex_column_sm {
    display: block;
}
.home-benefits {
        display: flex;
        padding: 0px;
        margin: 50px auto;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
 }
.home-benefits article {
        position: relative;
        width: 22%;
    }
.home-benefits .title {
    font-size: 16px;
    color: #df2b37;
}
.home-benefits p {
        font-family: "Open Sans";
        font-size: 14px;
        font-style: normal;
        letter-spacing: normal;
        line-height: 18px;
        text-align: left;
        padding-left: 96px;
        margin-bottom: 0;
        padding-top: 4px;
        color: #363636;
    }
.fto-calendar:before {
        background: url(uploads/calculator.svg) no-repeat center center #dddddd;
        display: block;
        height: 65px;
        width: 80px;
        position: absolute;
        font-size: 50px;
    }
.fto-weight-hanging:before {
        background: url(uploads/calculator.svg) no-repeat center center #dddddd;
        display: block;
        height: 65px;
        width: 80px;
        position: absolute;
        font-size: 50px;
    }
.fto-award:before {
        background: url(https://100x100fitness.com/upload/gift.png) no-repeat center center #dddddd;
        display: block;
        height: 65px;
        width: 80px;
        position: absolute;
        font-size: 0px;
        background-size: contain;
    }
@media only screen and (max-width: 991px)  {
.news_letter_1 .st_news_letter_content p {
    font-size: 13px;
}
#st_notification_1{
   padding-left: 10px !important;
    padding-right: 10px !important;
}
#header_primary, #top_bar{
        display: block !important;
    }
#header_primary div#header_left {
    display: none !important;
}
#header_primary div#header_right {
    display: none;
}
#st_header #header_primary_container {
    height: 64px !important;
}
.home-benefits article {
        width: 100%;
        margin: 30px;
 }
.home-benefits{
display: block;
}
div#top_bar_row {
    display: flex;
    flex-flow: column !important;
    justify-content: center !important;
    align-items: center;
}
div#top_bar_row nav#nav_center {
    margin: 0 auto !important;
}
}
span.welcome.top_bar_item {
    display: none;
}
a.stcompare_link.top_bar_item.header_icon_btn_0 {
    display: none;
}
div#mobile_bar_right {
    display: none;
}
.search_widget_btn.btn{
   width: 55px;
   padding: 2px;
}
div#top_bar_row nav#nav_left aside#easycontent_28 {
    margin-bottom: 0;
    margin-top: 5px;
    width: 100%;
}
div#top_bar_row nav#nav_left aside#easycontent_28 p {
    margin: 4px;
    color: aliceblue;
    text-transform: uppercase;
    text-align: center;
}
a.login.top_bar_item.header_icon_btn_1 {
    display: none;
}
@media only screen and (min-width: 1200px) {
    #st_mega_menu_wrap .ma_level_0 {
        padding-left: 15px;
        padding-right: 16px;
        font-size: 15px;
    }
}
div#top_bar_row nav#nav_left{
width: 100%;
}
.brands_slider_item img.swiper-lazy.front-image.swiper-lazy-loaded{
    width: 180px;
}
.full_width_bottom_container {
    background: #666666;
    color: white;
}
div#st_news_letter_container_1 {
    margin-bottom: 0;
}
#st_news_letter_1 .st_news_letter_form_inner {
    max-width: 100% !important;
}
button.btn.btn-less-padding.st_news_letter_submit.link_color {
    background: #df2b37;
    color: white;
}
.st_news_letter_form_inner{
   width: 515px !important;
}
.full_width_top_container div#swiper_container_out_1 {
    margin-bottom: 0;
}
body#index .header-container {
    margin-bottom: 0px;
}