.qtip {

    min-width: 50px !important;

    font-size: 1.1em !important;
    line-height: 1.3em !important;
}

#feedbiz-ebay-product-tab h3 img {
    margin: 5px;
    width: 24px;
    height: 24px;
}

#ebay-title {
    margin-left: 40px !important;
    margin-top: 0 !important;
}


#feedbiz-ebay-product-tab .col-left.tip span {
    border-bottom: 1px dashed rgba(241, 208, 49, 0.90);
    padding-bottom: 2px;
    cursor: pointer;
}

#feedbiz-ebay-product-tab .ebay-item tr td {
    padding: 5px;
    cursor: pointer;
}

#feedbiz-ebay-product-tab .ebay-item tr {
    height: 30px;
}

#feedbiz-ebay-product-tab .ebay-item tr td:first-child, #feedbiz-ebay-product-tab .ebay-item thead th:first-child {
    background-color: transparent !important;
    border: none;
}

#feedbiz-ebay-product-tab .ebay-item tr td:first-child > input {
    position: relative;
    left: 5px;
    top: 2px;
}

#feedbiz-ebay-product-tab .country-selector {
    margin-left: 50px;
    position: relative;
    top: -10px;
}

#feedbiz-product-tab #feedbiz-ebay-product-tab .country-selector .marketplace-flag {
    width: 24px;
    height: 24px;
}

#feedbiz-product-tab #feedbiz-ebay-product-tab .country-selector .marketplace-lang-flag {
    position:relative;
    top:-8px;
    left:-8px;
    width: 16px;
    height: 16px;
}

                            
#feedbiz-ebay-product-tab .country-selector tr td {
    padding-right: 5px;
    vertical-align: middle;
}

#feedbiz-amazon-product-tab .country-selector img {
    width: 24px;
    height: 24px;
}

#feedbiz-amazon-product-tab .country-selector tr td {
    padding-right: 5px;
    vertical-align: middle;
}

#feedbiz-ebay-product-tab .country-selector tr td span.ebay-tab-selector {
    display: inline-block;
    padding: 10px;
    background-color: transparent;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    text-align: center;
    min-width: 64px;
}

#feedbiz-ebay-product-tab .country-selector tr td span.ebay-tab-selector:hover {
    background-color: #dcdcdc;
}

#feedbiz-ebay-product-tab .country-selector tr td span.ebay-tab-selector.active {
    border-bottom: 3px solid #6495ED;
}

#feedbiz-ebay-product-tab .ebay-tab-bar {
    border-bottom: 3px solid #dcdcdc;
    margin-left: 40px;
}

#feedbiz-ebay-product-tab .ebay-tab-bar {
    border-bottom: 3px solid #dcdcdc;
    margin-left: 40px;
}

#feedbiz-ebay-product-tab .ebay-tab {
    margin-left: 40px;

}

#feedbiz-ebay-product-tab .ebay-tab h4.marketplace-heading {
    float: right;
    margin-right: 5px;
}

#feedbiz-ebay-product-tab .ebay-tab h4.marketplace-heading img {
    position: relative;
    top: -1px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

#feedbiz-ebay-product-tab .ebay-tab .section h4 {
    border-bottom: solid 1px #a0d0eb;
    display: inline-block;
    margin-left: 15px;
    letter-spacing: 3px;
}

#feedbiz-ebay-product-tab td.col-left {
    display: inline-block;
    min-width: 140px;
    text-align: right;
    padding-right: 10px;
    /*
    white-space: nowrap;*/
}

#feedbiz-ebay-product-tab .ebay-item-title td.col-left {
    margin: 5px;
    color: navy;
}

#feedbiz-ebay-product-tab tr.ebay-details > td {
    border-bottom: 10px solid transparent;
}

#feedbiz-ebay-product-tab .ebay-details td > input {
    margin-bottom: 5px;
}

#feedbiz-ebay-product-tab .ebay-details input[type=checkbox] {
    width: 20px;
    height: 20px;
}

#feedbiz-ebay-product-tab .ebay-details input[type=radio] + span.amz-action-label {
    position: relative;
    top: -1px;
    margin-left: 2px;
}

#feedbiz-ebay-product-tab .ebay-details .amz-action-container {
    cursor: pointer;
    border: 1px solid transparent;
}

#feedbiz-ebay-product-tab .ebay-details .amz-action-container:hover {
    border: 1px solid grey;
}

#feedbiz-ebay-product-tab .ebay-details .amz-action-container input[type=radio] {
    width: 20px;
    height: 20px;
    position: relative;
    top: -3px;
    left: -3px;
}

#feedbiz-ebay-product-tab .ebay-details input[type=checkbox] + span, #feedbiz-ebay-product-tab .ebay-details input[type=radio] {
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
}

#feedbiz-ebay-product-tab .ebay-details input[type=checkbox] + span {
    position: relative;
    top: -5px;
    font-size: 1.2em;
}

#feedbiz-ebay-product-tab .ebay-details input[type=radio] + span {
    position: relative;
    margin-left: 10px;
    margin-right: 15px;
    font-size: 1.2em;
}

#ebay-action-loader {
    float: left;
    margin-left: 5px;
    margin-top: 10px;
}

.bootstrap #feedbiz-ebay-product-tab .ebay-details input /* PS 1.6 */
{
    display: inline-block;
}

span.amz-action * {
    vertical-align: middle;
}

.amz-action {
    display: inline-block;
    min-width: 140px;
    margin: 5px;
    padding: 5px;
}

.amz-action input {
    position: relative;
    top: -2px;
}

.amz-action-label {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

.amz-action-container {
    margin: 5px;
    padding: 5px;
    background-color: #EEECEC;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

.amz-action-img {
    position: relative;
    top: -10px;
}

.bootstrap .amz-action-img {
    position: relative;
    top: -1px;
}

.bootstrap .bulletpoint-action img {
    height: 20px;
}

#main .bulletpoint-action img {
    position: relative;
    top: -3px;
    left: -1px;
    border: 1px solid gainsboro;
    padding: 1px 0 1px 0;
    cursor: pointer;
    background-color: lavender;
    border-radius: 2px;
    -webkit-opacity: 0.7;
    -moz-opacity: 0.7;
    opacity: 0.7;
}

#main .bulletpoint-action img:hover {
    border: 1px solid lavender;
    background-color: lightgray;
}

.bootstrap .bulletpoint-action {
    padding: 5px;
}

#feedbiz-ebay-product-tab.ps15 .ebay-tab .section h4 {
    font-size: 1.2em;
}

#feedbiz-ebay-product-tab .repricing img {
    margin-right: 15px;
    position: relative;
    top: -2px;
    left: -2px;
}

/* Patches PS 1.5 */
#feedbiz-ebay-product-tab.ps15 #ebay-table-combinations tr:hover, #feedbiz-ebay-product-tab.ps15 #ebay-table-product tr:hover {
    background-color: #fff1b5;
}

#feedbiz-ebay-product-tab.ps15 #ebay-table-combinations tr.highlighted, #feedbiz-ebay-product-tab.ps15 #ebay-table-product tr.highlighted {
    background-color: rgb(196, 234, 196);
}

#feedbiz-ebay-product-tab.ps15 #ebay-title {
    margin-top: 15px !important;
}

#feedbiz-ebay-product-tab.ps15 .marketplace-heading {
    font-size: 1.1em;
    margin-top: 10px;
}

#feedbiz-ebay-product-tab.ps15 .ebay-details input[type=checkbox] + span {
    top: 1px;
}

#feedbiz-ebay-product-tab.ps15 .ebay-details input[type=radio] + span {
    top: 5px;
}

#feedbiz-ebay-product-tab.ps15 .ebay-details input[type=radio] + span.amz-action-label {
    position: relative;
    top: 0;
}

#feedbiz-ebay-product-tab.ps15 .amz-action-img {
    top: -2px;
}

#feedbiz-ebay-product-tab.ps15 .amz-action-container {
    background-color: #e3e4f3;
}

#feedbiz-ebay-product-tab.ps15 .ebay-details .amz-action-container input[type=radio] {
    position: relative;
    top: 0;
    left: -4px;
}

#feedbiz-ebay-product-tab.ps15 .fb-link {
    color: navy;
}

#feedbiz-ebay-product-tab.ps15 .fb-link:hover {
    text-decoration: underline;
}

#feedbiz-ebay-product-tab.ps15 .clearfix {
    display: none;
}

#ebay-title {
    width: 90%;
}